<div class="titulo_container_projetos" id="meusprojetos">
  <h1>{{Projetos}}</h1>
</div>

<div class="container_principal">
  <div class="projetos_container_1">
    <div class="projeto1">
      <img
        class="tamanho_foto_1"
        [src]=[fotoProjeto1]
      >
    </div>
    <div class="titulo-projeto1">
      <h4>{{ TituloProjeto1 }}</h4>
      <div class="button-container">
          <button class="button-repo"><a href="https://github.com/han19githtbr/processamento-de-imagens.git" target="_blank">{{ ButtonRepo1 }}</a></button>
          <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>


  <div class="projetos_container_2">
    <div class="projeto2">
      <img
        class="tamanho_foto_2"
        [src]=[fotoProjeto2]
      >
    </div>
    <div class="titulo-projeto2">
      <h4>{{ TituloProjeto2 }}</h4>
      <div class="button-container">
        <button class="button-repo"><a href="https://github.com/han19githtbr/API-GITHUB.git" target="_blank">{{ ButtonRepo1 }}</a></button>
        <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>


  <div class="projetos_container_3">
    <div class="projeto3">
      <img
        class="tamanho_foto_3"
        [src]=[fotoProjeto3]
      >
    </div>
    <div class="titulo-projeto3">
      <h4>{{ TituloProjeto3 }}</h4>
      <div class="button-container">
        <button class="button-repo"><a href="https://github.com/han19githtbr/projeto_pokedex_dio.git" target="_blank">{{ ButtonRepo1 }}</a></button>
        <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>


  <div class="projetos_container_4">
    <div class="projeto4">
      <img
        class="tamanho_foto_4"
        [src]=[fotoProjeto4]
      >
    </div>
    <div class="titulo-projeto4">
      <h4>{{ TituloProjeto4 }}</h4>
      <div class="button-container">
        <button class="button-repo"><a href="https://github.com/han19githtbr/psn-store-angular-dio.git" target="_blank">{{ ButtonRepo1 }}</a></button>
        <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>


  <div class="projetos_container_5">
    <div class="projeto5">
      <img
        class="tamanho_foto_5"
        [src]=[fotoProjeto5]
      >
    </div>
    <div class="titulo-projeto5">
      <h4>{{ TituloProjeto5 }}</h4>
      <div class="button-container">
        <button class="button-repo"><a href="https://github.com/han19githtbr/APP_HABITS_CONTROL.git" target="_blank">{{ ButtonRepo1 }}</a></button>
        <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>


  <div class="projetos_container_6">
    <div class="projeto6">
      <img
        class="tamanho_foto_6"
        [src]=[fotoProjeto6]
      >
    </div>
    <div class="titulo-projeto6">
      <h4>{{ TituloProjeto6 }}</h4>
      <div class="button-container">
        <button class="button-repo"><a href="https://github.com/han19githtbr/handy-projeto-final-bootcamp-dio.git" target="_blank">{{ ButtonRepo1 }}</a></button>
        <button class="button-demo"><a href="#" target="_blank">{{ ButtonDemo1 }}</a></button>
      </div>
    </div>
  </div>
</div>
