.footer_container {
  margin-top: 60px;
  background-color: black;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}

.container_form {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}

.container_form > h1 {
  color: white;
  font-family: "Times New Roman";
}

form{
  max-width: 500px;
  width: 100%;
}

label{
  color: white;
  font-family: "Times New Roman";
}

input, textarea{
  width: 100%;
}

.redes_icons_container{
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px 0;
  margin-top: 20px;

}

.redes_icons a{
  color: white;
  text-decoration: none;
  padding: 0 10px;
}

.redes_icons {
  transition: transform 0.1s;
}

.redes_icons:hover {
  transform: scale(1.6);
}

.btn {
  background-color: transparent;
  color: white;
  border: 2px solid #ffffff;
  border-radius: 3px;
  width: 80px;
  font-family: "Times New Roman";
  margin-top: 10px;
  transition: transform 0.1s;
}

.btn:hover {
  transform: scale(1.1);
  cursor:pointer;
}
