<header>
  <div class="menu_container">
    <nav class="menu_item">
      <i class="fa fa-bars"></i>
      <ul>
        <li>
          <a href="#apresentacao">{{ "HOME.apresentacao" | translate }} </a>
        </li>
        <li>
          <a href="#formacao">{{ "HOME.formacao" | translate }}</a>
        </li>
        <li>
          <a href="#bootcamp">{{ "HOME.bootcamps" | translate }}</a>
        </li>
        <li>
          <a href="#meusprojetos">{{ "HOME.projetos" | translate }}</a>
        </li>
        <li>
          <a href="#experiencia">{{ "HOME.experiencia" | translate }}</a>
        </li>
        <li>
          <a href="#competencia">{{ "HOME.competencia" | translate }}</a>
        </li>
        <li>
          <a href="#premio">{{ "HOME.premio" | translate }}</a>
        </li>
        <li>
          <a href="#contato">{{ "HOME.contato" | translate }}</a>
        </li>
        <li>
          <div class="container-languages">
            <div class="icon-language">
              <mat-icon>language</mat-icon>
            </div>
            <form [formGroup]="formSelect" id="contactForm" class="formSelect">
              <select
                (change)="onLanguage()"
                formControlName="idioma"
                class="idiomas"
              >
                <option class="idiomaOption" value="en">
                  {{ "HOME.idioma.en" | translate }}
                </option>
                <option class="idiomaOption" value="fr">
                  {{ "HOME.idioma.fr" | translate }}
                </option>
                <option class="idiomaOption" value="pt-br">
                  {{ "HOME.idioma.pt-br" | translate }}
                </option>
              </select>
            </form>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</header>

<!---------------------------------------------- WELCOME ------------------------------------------>

<div class="wrapper">
  <span style="--i: 1">W</span>
  <span style="--i: 2">E</span>
  <span style="--i: 3">L</span>
  <span style="--i: 4">C</span>
  <span style="--i: 5">O</span>
  <span style="--i: 6">M</span>
  <span style="--i: 7">E</span>
</div>

<!--------------------------------------------- CURRICULO ------------------------------------------------->

<div class="cv">
  <button
    (click)="onDownloadClick()"
    [disabled]="disableCv"
    class="glow-on-hover"
    type="button"
  >
    <span>{{ "HOME.curriculum.desc" | translate }}</span>
  </button>
  <div class="cv_gif">
    <img
      class="foto_gif"
      src="../../../assets/img/download_gif.gif"
      alt="minha foto"
    />
  </div>
</div>

<!--------------------------------------- MINHA APRESENTACAO -------------------------------------->

<div class="quem_sou" id="apresentacao">
  <h1>{{ "HOME.apresentacao" | translate }}</h1>
</div>
<div class="foto_quemsou">
  <img
    class="card_foto"
    src="{{ 'HOME.presentation.fotoQuemSou' | translate }}"
    alt="minha foto"
  />
</div>
<div class="redes_icons_container">
  <div class="redes_icons">
    <a href="https://github.com/han19githtbr" target="_blank"
      ><i class="fa fa-github" aria-hidden="true"></i
    ></a>
  </div>
  <div class="redes_icons">
    <a
      href="https://www.linkedin.com/in/handy-claude-marie-milliance-95785099/"
      target="_blank"
      ><i class="fa fa-linkedin" aria-hidden="true"></i
    ></a>
  </div>
  <div class="redes_icons">
    <a
      href="https://www.facebook.com/handyclaudemarie.milliance/"
      target="_blank"
      ><i class="fa fa-facebook" aria-hidden="true"></i
    ></a>
  </div>
  <div class="redes_icons">
    <a href="https://www.instagram.com/handyclaudemarie/" target="_blank"
      ><i class="fa fa-instagram" aria-hidden="true"></i
    ></a>
  </div>
</div>
<div class="quemsou_container">
  <div class="descricao_quemsou">
    <p>{{ "HOME.presentation.descricao" | translate }}</p>
    <button class="exibir-mais">
      {{ "HOME.presentation.botaodescricao1" | translate }}
    </button>
    <button class="exibir-menos" style="display: none">
      {{ "HOME.presentation.botaodescricao2" | translate }}
    </button>
  </div>
</div>

<!--------------------------------------- MINHA FORMACAO -------------------------------------->

<div class="me_formei" id="formacao">
  <h1>{{ "HOME.formacao" | translate }}</h1>
</div>
<div class="minha_formacao_container">
  <div class="foto_formacao">
    <img
      class="card_formacao"
      src="{{ 'HOME.formation.fotoFormacao' | translate }}"
      alt="minha foto"
      srcset=""
    />
  </div>

  <div class="descricao_minhaformacao">
    <div class="me_formei_info">
      <div class="chapeu_formei">
        <img src="{{ 'HOME.formation.chapeuformei' | translate }}" />
      </div>
      <div class="nome_curso">
        <div class="nome_curso_icone">
          <img src="{{ 'HOME.formation.iconeCurso' | translate }}" />
        </div>
        <div class="nome_curso_titulo">
          <h3>{{ "HOME.formation.curso" | translate }}</h3>
        </div>
      </div>
      <div class="nome_universidade">
        <div class="nome_universidade_icone">
          <img
            class="icone_universidade"
            src="{{ 'HOME.formation.iconeUniversidade' | translate }}"
          />
        </div>
        <div class="nome_universidade_titulo">
          <h3>{{ "HOME.formation.universidade" | translate }}</h3>
        </div>
      </div>
      <div class="ano_conclusao">
        <div class="ano_conclusao_icone">
          <img src="{{ 'HOME.formation.iconeConclusao' | translate }}" />
        </div>
        <div class="ano_conclusao_titulo">
          <h3>{{ "HOME.formation.conclusao" | translate }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------- MINHA EXPERIENCIA -------------------------------------->

<div class="titulo_experiencias" id="experiencia">
  <h1>{{ "HOME.experiencia" | translate }}</h1>
</div>
<a href="#" class="minhas_experiencias_container">
  <div class="experiencia" *ngFor="let item of experienciaData">
    <img
      class="card_experiencia"
      src="{{ item.fotoExperiencia }}"
      alt="minha foto"
    />
    <div class="container_titulo_experiencia">
      <!--<div class="icone_experiencia">
        <img src="{{ item.icone }}" alt="minha foto" />
      </div>-->
      <div class="titulo_experiencia">
        <h3>{{ item.tituloExperiencia }}</h3>
        <!--<button class="saibamais_experience">{{ item.saibamais }}</button>-->
      </div>
    </div>
  </div>
</a>

<!--------------------------------------- MEUS BOOTCAMPS -------------------------------------->

<div class="bootcamp_cabecalho" id="bootcamp">
  <h1>{{ "HOME.bootcamps" | translate }}</h1>
</div>
<div class="bootcamp_container" *ngFor="let item of bootcampsData">
  <div class="bootcamp_img">
    <img src="{{ item.fotoBootcamp }}" />
  </div>
  <div class="content-bootcamp">
    <div class="titulo_bootcamp">
      <h3>{{ item.TituloBootCamp }}</h3>
    </div>
    <div class="content_date_bootcamp">
      <div class="nome_icone">
        <img src="{{ item.iconedate }}" />
      </div>
      <div class="data_bootcamp">
        <h3>{{ item.databootcamp }}</h3>
      </div>
    </div>
  </div>
</div>

<!--------------------------------------- MEUS PROJETOS -------------------------------------->

<div class="bootcamp_cabecalho" id="meusprojetos">
  <h1>{{ "HOME.projetos" | translate }}</h1>
</div>
<div class="projetos_gif">
  <img
    class="foto_projeto_gif"
    src="../../../assets/img/html.gif"
    alt="minha foto"
  />
</div>
<div class="options">
  <div
    class="option active"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/Pul5sgL.jpg)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a
          href="https://github.com/han19githtbr/handy-projeto-final-bootcamp-dio"
          target="_blank"
          ><i class="fa fa-github" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Project with Spring framework</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/ITBu9iM.png)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://nlw-handy-notes.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Voice recorder</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/O6ezS4Y.png)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a
          href="https://busca-pokemons-em-tempo-real.netlify.app/"
          target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Pokemon search in real time</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/PBZVXe8.png)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://gerenciatarefas.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Task's control system(in development)</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/O6ezS4Y.png)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://restcountriesapihandy.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Rest countries API</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://imgur.com/WkVHtvn)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://french-game.vercel.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">French App</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/O6ezS4Y.png)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://ochaveiro.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Key's app(in development)</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/9wKfD2S.jpg)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://listagem-de-pokemons.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">API consumption for listing Pokemons</div>
      </div>
    </div>
  </div>

  <div
    class="option"
    (mouseover)="toggleActive($event)"
    style="background-image: url(https://i.imgur.com/9wKfD2S.jpg)"
  >
    <div class="shadow"></div>
    <div class="label">
      <div class="icon">
        <a href="https://apigithubhandy.netlify.app/" target="_blank"
          ><i class="fa fa-external-link" aria-hidden="true"></i
        ></a>
      </div>
      <div class="info">
        <div class="main">Real-time Git Hub repositories</div>
      </div>
    </div>
  </div>
  
</div>

<!--------------------------------------- SKILLS -------------------------------------->

<div class="container_titulo_skills" id="competencia">
  <h1>{{ "HOME.competencia" | translate }}</h1>
</div>
<div class="container">
  <div class="container_skills" *ngFor="let item of competenciaData">
    <h3 id="react">{{ item.habilidade }}</h3>
    <img class="icone_skill" src="{{ item.icone }}" />
  </div>
</div>

<!--------------------------------------- AWARDS --------------------------------------->

<div class="meu-premio" id="premio">
  <h1>{{ "HOME.premio" | translate }}</h1>
</div>
<div class="foto_premio">
  <img
    class="card_foto_premio"
    src="{{ 'HOME.prix.fotoPremio' | translate }}"
    alt="minha foto"
  />
</div>
<div class="premio_container">
  <div class="descricao_premio">
    <p>{{ "HOME.prix.descricaoPremio" | translate }}</p>
    <button class="exibir-mais">
      {{ "HOME.presentation.botaodescricao1" | translate }}
    </button>
    <button class="exibir-menos" style="display: none">
      {{ "HOME.presentation.botaodescricao2" | translate }}
    </button>
  </div>
</div>

<!--------------------------------------- FOOTER -------------------------------------->

<div class="footer_container" id="contato">
  <div class="foto_mensagem">
    <img
      class="mensagem_gif"
      src="../../../assets/img/o-email.gif"
      alt="minha foto"
    />
  </div>
  <div class="container_form">
    <h1>{{ "HOME.contato" | translate }}</h1>

    <form (ngSubmit)="submit(form)" [formGroup]="form">
      <div class="form-group">
        <label>{{ "HOME.form.nome" | translate }}</label>
        <input
          matInput
          formControlName="nome"
          [(ngModel)]="portfolio.nome"
          type="text"
          id="nome"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>{{ "HOME.form.assunto" | translate }}</label>
        <input
          matInput
          formControlName="subject"
          [(ngModel)]="portfolio.assunto"
          type="text"
          id="assunto"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>{{ "HOME.form.email" | translate }}</label>
        <input
          matInput
          formControlName="email"
          [(ngModel)]="portfolio.email"
          type="text"
          id="email"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label>{{ "HOME.form.mensagem" | translate }}</label>
        <textarea
          name="mensagem"
          formControlName="message"
          [(ngModel)]="portfolio.mensagem"
          type="text"
          id="mensagem"
          cols="30"
          rows="10"
        ></textarea>
      </div>
      <button type="submit" class="btn btn-primary">
        {{ "HOME.form.enviar" | translate }}
      </button>
    </form>
  </div>
  <button id="scrollToTopButton" (click)="scrollToTop()">&#9650;</button>
</div>
