<div class="titulo_experiencias" id="experiencia">
  <h1>{{ MinhasExperiencias }}</h1>
</div>
<a href="#" class="minhas_experiencias_container">
  <div class="experiencia_pet">
    <img
      class="card_experiencia"
      [src]=[fotoExperienciaPET]
      alt="minha foto"
      srcset=""
    >
    <div class="container_titulo_experiencia_pet">
      <div class="icone_experiencia_pet">
        <img
          [src]=[icone2]
          alt="minha foto"
        >
      </div>
      <div class="titulo_experiencia_pet">
        <h3>{{ primeiraExperiencia }}</h3>
      </div>
    </div>
  </div>
  <div class="experiencia_pgm">
    <img
      class="card_experiencia"
      [src]=[fotoExperienciaPGM]
      alt="minha foto"
      srcset=""
    >
    <div class="container_titulo_experiencia_pgm">
      <div class="icone_experiencia_pgm">
        <img
          [src]=[icone_work]
          alt="minha foto"
        >
      </div>
      <div class="titulo_experiencia_pet">
        <h3>{{ segundaExperiencia }}</h3>
      </div>
    </div>
  </div>
  <div class="connaissance_en_action">
    <img
      class="card_experiencia"
      [src]=[fotoExperienciaCEA]
      alt="minha foto"
      srcset=""
    >
    <div class="container_titulo_experiencia_cea">
      <div class="icone_experiencia_cea">
        <img
          [src]=[icone_computador]
          alt="minha foto"
        >
      </div>
      <div class="titulo_experiencia_cea">
        <h3>{{ terceiraExperiencia }}</h3>
      </div>
    </div>
  </div>
</a>
