<div class="me_formei">
  <h1>{{ MinhaFormacao }}</h1>
</div>
<div class="minha_formacao_container">
  <div class="foto_formacao">
    <img
      class="card_formacao"
      [src]=[fotoFormacao]
      alt="minha foto"
      srcset=""
    >
  </div>

  <div class="descricao_minhaformacao">
    <h3>{{ tituloMeFormei }}</h3>

    <div class="me_formei_info">
      <div class="nome_curso">
        <div class="nome_curso_icone">
          <img
            [src]=[icone1]
          >
        </div>
        <div class="nome_curso_titulo">
          <h3>{{ nomeCurso }}</h3>
        </div>
      </div>
      <div class="nome_universidade">
        <div class="nome_universidade_icone">
          <img
            [src]=[icone2]
          >
        </div>
        <div class="nome_universidade_titulo">
          <h3>{{ nomeUniversidade }}</h3>
        </div>
      </div>
      <div class="ano_conclusao">
        <div class="ano_conclusao_icone">
          <img
            [src]=[icone3]
          >
        </div>
        <div class="ano_conclusao_titulo">
          <h3>{{ anoConclusao }}</h3>
        </div>
      </div>
    </div>

  </div>
</div>
