<div class="quem_sou" id="quemsou">
  <h1>{{ QuemSou }}</h1>
</div>
<div class="quemsou_container">
  <div class="foto_quemsou">
    <img
      class="card_foto"
      [src]=[fotoQuemSou]
      alt="minha foto"
      srcset=""
    >
  </div>

  <div class="descricao_quemsou">
    <h3>{{ tituloQuemSou }}</h3>
    <p>{{ descricaoQuemSou }}</p>
    <div class="meus_interesses">
      <div class="title_interesses">
        <h4>{{ interesses }}</h4>
      </div>
      <div class="card_icone_interesses">
        <div class="card_item_interesses">
          <img
            [src]=[icone1Interesses]
          >

        </div>
        <div class="card_item_interesses">
          <img
            [src]=[icone2Interesses]
          >

        </div>
        <div class="card_item_interesses">
          <img
            [src]=[icone3Interesses]
          >

        </div>
        <div class="card_item_interesses">
          <img
            [src]=[icone4Interesses]
          >

        </div>
        <div class="card_item_interesses">
          <img
            [src]=[icone5Interesses]
          >

        </div>
      </div>
    </div>
  </div>
</div>
