<div class="home_container">
  <app-quemsou
    QuemSou="QUEM SOU ?"
    fotoQuemSou="assets/img/Haiti_Dessalines.jpeg"
    tituloQuemSou="FALANDO UM POUCO DE MIM"
    descricaoQuemSou="Olá, meu nome é Handy Claude Marie Milliance, sou do Haiti
                      Nascido na Capital do País(Porto Príncipe), eu sou um amante
                      da natureza, e de passeios e lá proporciona esses prazeres.
                      Eu sempre fui apaixonado por tecnologia e jogos, pois desde
                      criança, eu jogava videogame. A essa paixão, se juntou o meu
                      gosto para a resolução de problemas complexos e foi essa
                      mentalidade que me trouxe no mundo de desenvolvimento Web."
    interesses="Meus interesses:"
    icone1Interesses="assets/img/book.png"
    icone2Interesses="assets/img/fly.png"
    icone3Interesses="assets/img/game.png"
    icone4Interesses="assets/img/music.png"
    icone5Interesses="assets/img/terminal.png"
    tituloInteresse1="Leitura"
    tituloInteresse2=""
    tituloInteresse3=""
    tituloInteresse4=""
    tituloInteresse5=""
  >

  </app-quemsou>
  <app-formacao
    MinhaFormacao="MINHA FORMAÇÃO"
    fotoFormacao="assets/img/rural.jpg"
    tituloMeFormei="ME FORMEI, AGORA SIM!"
    nomeCurso="Curso: Ciência da Computação"
    nomeUniversidade="Universidade: Universidade Federal Rural do Rio de Janeiro"
    anoConclusao="Ano de conclusão: 2022"
    icone1="assets/img/computer.png"
    icone2="assets/img/school.png"
    icone3="assets/img/calendar.png"
  >

  </app-formacao>
  <app-bootcamp
    CabecalhoBootcamp="BOOTCAMPS REALIZADOS"
    fotoBootcamp="/assets/img/bootcamp_java_dio.png"
    TituloBootCamp="Santander Bootcamp 2023 - Fullstack Java + Angular"
    iconedate="/assets/img/calendar.png"
    databootcamp="16/08/2023 - 22/10/2023"
  >

  </app-bootcamp>
  <app-experiencia
    MinhasExperiencias="MINHAS EXPERIÊNCIAS"
    fotoExperienciaPET="assets/img/sudeste_pet.jpg"
    fotoExperienciaPGM="assets/img/pgmni.jpg"
    icone2="assets/img/school.png"
    icone_work="assets/img/work.png"
    primeiraExperiencia="PET Conexões Baixada (12/2015 - 03/2020)"
    segundaExperiencia="Estágio na PGMNI (04/2021 - 07/2022)"
    fotoExperienciaCEA="assets/img/bg1.jpg"
    icone_computador="assets/img/computer.png"
    terceiraExperiencia="Connaissance en Action (01/2021 - 09/2023)"
  >

  </app-experiencia>
  <app-meusprojetos
    Projetos="MEUS PROJETOS"
    fotoProjeto1="assets/img/python-opencv.png"
    TituloProjeto1="Projeto usando a biblioteca OpenCV"
    ButtonRepo1="Repositório"
    ButtonDemo1="Ver Demo"

    fotoProjeto2="assets/img/javascript.jpg"
    TituloProjeto2="Exibição dos repositórios do Git Hub em tempo real"
    ButtonRepo2="Repositório"
    ButtonDemo2="Ver Demo"

    fotoProjeto3="assets/img/angular_icon.png"
    TituloProjeto3="Consumo de API para listar Pokemons"
    ButtonRepo3="Repositório"
    ButtonDemo3="Ver Demo"

    fotoProjeto4="assets/img/angular_icon.png"
    TituloProjeto4="Recriação da Interface da Play Station Store"
    ButtonRepo4="Repositório"
    ButtonDemo4="Ver Demo"

    fotoProjeto5="assets/img/react.png"
    TituloProjeto5="Aplicativo de Controle de Hábitos"
    ButtonRepo5="Repositório"
    ButtonDemo5="Ver Demo"

    fotoProjeto6="assets/img/spring_framework.jpg"
    TituloProjeto6="Projeto Back-end usando Spring framework"
    ButtonRepo6="Repositório"
    ButtonDemo6="Ver Demo"
  >
  </app-meusprojetos>

</div>
