<div class="bootcamp_cabecalho" id="bootcamp">
  <h1>{{ CabecalhoBootcamp }}</h1>
</div>
<div class="bootcamp_container" >
  <div class="bootcamp_img">
    <img
      [src]=[fotoBootcamp]
    >
  </div>
  <div class="content-bootcamp">
    <div class="titulo_bootcamp">
      <h3>{{ TituloBootCamp }}</h3>
    </div>
    <div class="content_date_bootcamp">
      <div class="nome_icone">
        <img
          [src]=[iconedate]
        >
      </div>
      <div class="data_bootcamp">
        <h3>{{ databootcamp }}</h3>
      </div>
    </div>
  </div>
</div>
