<div class="menu_container">
  <div class="menu_logo">
    <img
      class="card_logo"
      src="assets/img/img_mar.jpg"
      alt="minha foto"
      srcset=""
      width= "100px"
      height="90px"
    >
  </div>

  <div class="menu_item">
    <ul>
      <li><a href="#quemsou" >Quem sou </a></li>
      <li><a href="#formacao" >Formação</a></li>
      <li><a href="#bootcamp" >Bootcamps</a></li>
      <li><a href="#meusprojetos" >Projetos</a></li>
      <li><a href="#experiencia" >Experiência</a></li>
      <li><a href="#contato" >Contato</a></li>
    </ul>
  </div>

  <!--<div class="menu_mobile">
    <i class="fa fa-bars"></i>
    <ul>
      <li><a href="#" >Quem sou </a></li>
      <li><a href="#" >Formação</a></li>
      <li><a href="#" >Bootcamps</a></li>
      <li><a href="#" >Projetos</a></li>
      <li><a href="#" >Experiência</a></li>
      <li><a href="#" >Contato</a></li>
    </ul>
  </div>-->

</div>
