header{
  width: 100%;
  background-color: #393939;
  box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.5);
  height: 60px;
}

.menu_container {
  display: flex;
  justify-content: center;
}

.menu_logo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.menu_logo img{
  width: 100%;
}

.menu_container .menu_item {
  width: 80%;
}

.menu_item {
  text-align:center;
}

.menu_item i{
  display: none;
}

.menu_item > ul {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  flex-direction: row;
}

.menu_item > ul > li {
  margin: 10px;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 15px;
}

.menu_item > ul > li:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.9);
  border-radius: 3px;
}

.menu_item > ul > li > a {
  text-decoration: none;
  color: white;
}

.card_logo {
  transition: transform 0.4s;
  border-radius: 50%;
  margin-top: 12px;
}

.card_logo:hover {
  transform: scale(1.1);
  cursor:pointer;
}

.menu_container .menu-mobile{
  display: block;
  text-align: right;
}

.menu_container .menu-mobile i{
  font-size: 25px;
  color: white;
  position: relative;
  top: 20px;
  cursor: pointer;
}

.menu_container .menu-mobile ul{
  display: none;
  position: absolute;
  left: 0;
  z-index: 999;
  top: 75px;
  background-color: white;
  list-style: none;
  width: 100%;
  text-align: center;
  overflow:hidden;
}

.menu_container .menu-mobile li{
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
}

.menu_container .menu-mobile li a{
  text-decoration: none;
  color: black;
}

@media screen and (max-width: 1200px){
  .menu_container {
    justify-content: space-between;
  }

  .menu_container .menu_item{
    width: 100%;
    position: absolute;
    z-index: 9999999;
  }

  .menu_item i{
    display: block;
    text-align: right;
    padding: 15px 10px 0 0;
    font-size: 25px;
    color: white;
  }

  .menu_item > ul {
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: absolute;
    background-color: white;
    padding-left: 0;
  }

  .menu_item > ul > li{
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  }

  .menu_item > ul > li > a{
    color: black;
  }

}
