/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}
body {
  margin: 0;
  font-family:Roboto, "Helvetica Neue", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.menu_container .menu_mobile {
  display: none;
}

@media screen and (max-width: 1200px){
  .menu_container .menu_item {
    display:none;
  }

  .menu_container .menu_item > ul {
    display: flex;
    flex-direction: column;
  }

  .menu_container {
    height: 200px;
  }

  .quemsou_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow:hidden;
  }

  .card_logo {
    margin-top: 40px;
    margin-left: 20px;
  }

  .quemsou_container .foto_quemsou > img {
    width:100%;
  }

  .descricao_quemsou > p {
    margin: 30px;
    margin-top: 30px;
    font-family: "Times New Roman";
  }

  .descricao_quemsou > h3 {
    text-align: center;
    margin-top: 30px;
  }

  .minha_formacao_container {
    display: flex;
    flex-direction: column;
    overflow:hidden;
  }

  .minha_formacao_container .foto_formacao > img {
    width: 100%;
  }

  .bootcamp_img > img {
    width: 100%;
    overflow:hidden;
  }

  .minhas_experiencias_container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .card_experiencia {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
  }

  .container_form {
    width: 80%;
  }

  /*.tamanho_foto_1 {
    max-width: 300px;
    width: 100%;
  }

  .tamanho_foto_2 {
    max-width: 300px;
    width: 100%;
  }

  .tamanho_foto_3 {
    max-width: 300px;
    width: 100%;
  }

  .tamanho_foto_4 {
    max-width: 300px;
    width: 100%;
  }

  .tamanho_foto_5 {
    max-width: 300px;
    width: 100%;
  }

  .tamanho_foto_6 {
    max-width: 300px;
    width: 100%;
  }*/

}
