/* You can add global styles to this file, and also import other style files */
*{
  font-family: "Times New Roman";
  line-height: normal;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  background-color: #d2e8f2;
}

a {
  text-decoration: none;
  color: black;
}
header {
  width: 100%;
  background-color: #000000;
  height: 120px;
}
.container_buttons_status {
  margin-top: 10px;
  margin-left: -10px;
}
.foto_status {
  margin-top: 20px;
  width: 90px;
  border-radius: 50%;
}
.foto_status:hover {
  cursor:pointer;
  transform: scale(1.1);
}
.profil_container > img {
  width:90px;
  border-radius: 50%;
  margin-top: 10px;
  animation: 2s infinite alternate fadein;
}
.menu_container {
  display: flex;
  justify-content: center;
  gap: 400px;
}
.menu_item i {
  display: none;
}
.menu_item > ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  gap: 20px;
}
.menu_item > ul > li {
  margin-top: 25px;
  font-size: 17px;
}
.menu_item > ul > li > a {
  text-decoration: none;
  color: white;
}
.menu_item > ul > li:hover {
  transform: scale(1.1);
}
.menu_item > ul > li > a {
  text-decoration: none;
  color: white;
}
.formSelect .idiomas {
  background-color: black;
  color: white;
}
.quemsou_container {
  display:flex;
  gap: 20px;
  background-color: #fafafa;
}
.quem_sou {
  margin-top: 20px;
}
.quem_sou > h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 50px;
}
.descricao_quemsou > p {
  text-align: justify;
  margin-right: 20px;
  font-size: 18px;
  margin-top: 15px;
}
.card_foto {
  width: 700px;
  height: 300px;
  justify-content: center;
  box-shadow: 6px 6px 4px black;
}
.meus_interesses {
  display: flex;
  flex-direction:row;
  margin-top: 140px;
}
.title_interesses > h4 {
  font-size: 30px;
}
.card_icone_interesses {
  margin-left: 40px;
  gap: 30px;
  display: flex;
}
.minha_formacao_container {
  display: flex;
  gap: 70px;
  justify-content: left;
  background-color: #fbfbfb;
}
.me_formei {
  text-align:center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.me_formei > h1 {
  font-size: 40px;
  margin-bottom: 60px;
}
.card_formacao {
  width: 750px;
  height: 300px;
  box-shadow: 6px 6px 4px black;
}
.me_formei_info {
  margin-top: 100px;
}
.nome_curso,
.nome_universidade,
.ano_conclusao {
  display:flex;
  gap: 10px;
}
.nome_curso_titulo > h3,
.nome_universidade_titulo > h3,
.ano_conclusao_titulo > h3 {
  font-size: 20px;
}
.icone_universidade {
  width: 20px;
}
.bootcamp_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fbfbfb;
  text-align: center;
  margin-bottom: 80px;
}
.bootcamp_cabecalho > h1 {
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
  margin-top: 90px;
}
.bootcamp_img > img {
  box-shadow: 4px 4px 6px 6px #282828;
  border-radius: 8px;
}
.content_date_bootcamp {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.titulo_bootcamp {
  margin-top: 30px;
}
.minhas_experiencias_container {
  display: flex;
  justify-content: center;
  gap: 50px;
}
.container_titulo_experiencia {
  display: flex;
  margin-top: 20px;
  justify-content: center;
  gap: 20px;
}
.titulo_experiencias > h1 {
  margin-top: 100px;
  text-align: center;
  font-size: 40px;
  margin-bottom: 80px;
}
.card_experiencia {
  width: 450px;
  height: 300px;
  box-shadow: 6px 6px 4px black;
  border-radius: 8px;
}
.icone_experiencia > img {
  width: 20px;
}
.container_principal {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  background-color: #fbfbfb;
  padding: 30px 0;
}
.titulo_container_projetos > h1 {
  font-size: 40px;
  margin-bottom: 70px;
  text-align: center;
  margin-top: 70px;
}
.projetos_container {
  background-color: #ebf2fe;
  width: 300px;
}
.projeto {
  max-width: 300px;
  width: 100%;
  position: relative;
  z-index: 999;
  margin: 0 auto;
}
.projeto img {
  width: 100%;
}
.titulo-projeto {
  text-align: center;
}
.tamanho_foto {
  width: 400px;
  height: 250px;
}
.button_container {
  display: flex;
  justify-content: center;
}
.button-repo {
  margin:35px;
  transition: transform 0.2s;
  background-color: transparent;
  border-radius: 3px;
}
.button-repo:hover {
  transform: scale(1.1);
}
.footer_container {
  margin-top: 60px;
  background-color: black;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.container_form {
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.container_form > h1 {
  color: white;
}
form {
  max-width: 500px;
  width: 100%;
}
label {
  color: white;
}
input, textarea {
  width: 100%;
}
.redes_icons_container {
  width: 100%;
  display: flex;
  justify-content: end;
  padding: 20px 0;
  margin-top: 20px;
}
.redes_icons a {
  color: white;
  text-decoration: none;
  padding: 0 10px;
}
.btn {
  background-color: transparent;
  color: white;
  border: 0.1px solid #ffffff;
  transition: transform 0.3s;
}
.btn:hover {
  cursor:pointer;
  transform: scale(1.1);
}
.container_titulo_skills {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 80px;
}
.container_titulo_skills > h1 {
  font-size: 40px;
}
.container {
  display: flex;
  justify-content: center;
  background-color: #000000;
  width: 100%;
  gap: 30px;
}
.container_skills {
  gap: 30px;
}
#react {
  color: white;
  animation: 1.1s infinite alternate fadein;
}
.projetos_container {
  border-radius: 8px;
  box-shadow: 6px 6px 4px black;
}
.projeto img {
  border-radius: 8px;
}
.container_skills {
  justify-content: center;
  display: flex;
  gap: 30px;
  margin-top: 70px;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa {
  font-size: 22px;
}
.btn-primary {
  border: none;
  font-size: 19px;
  padding: 1px 17px;
  border-radius: 5px;
  transition: transform 0.2s;
  background: repeating-conic-gradient(from var(--a),#0202ff 0%, #0202ff 5%, transparent 5%, transparent 40%, #45f3ff 50% );
  animation: animar 2s linear infinite;
}
@property --a{
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@keyframes animar{
  0%{
      --a: 0deg;
  }
  100%{
      --a: 360deg;
  }
}

.btn-primary::before {
  content: '';
  animation: animar 4s linear infinite;
  animation-delay: -1s;
  border-radius: 20px;
}
.btn-primary::after {
  content: '';
  inset: 2px;
  border-radius: 4px;
  background: #000000;
  z-index: -11;
}




@media screen and (max-width: 1200px){

  .profil_container > img {
    width: 70px;
  }
  .menu_container {
    justify-content: center;
  }
  .menu_container .menu_item{
    width: 100%;
    position: absolute;
    z-index: 9999999;
  }
  .menu_item i{
    display: block;
    text-align: right;
    padding: 15px 10px 0 0;
    font-size: 25px;
    color: white;
  }
  .menu_item > ul > li{
    border-bottom: 1px solid #ccc;
    margin: 10px 0;
  }
  .menu_item > ul > li > a{
    color: black;
  }
  .card_item_interesses {
    margin: -12px;
    margin-top: 2px;
  }
  .quemsou_container {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow:hidden;
  }
  .card_logo {
    margin-top: 40px;
    margin-left: 20px;
  }
  .quemsou_container .foto_quemsou > img {
    width:100%;
  }
  .descricao_quemsou > p {
    margin: 30px;
    margin-top: 30px;
    font-family: "Times New Roman";
  }
  .descricao_quemsou > h3 {
    text-align: center;
    margin-top: 30px;
  }
  .minha_formacao_container {
    display: flex;
    flex-direction: column;
    overflow:hidden;
  }
  .nome_curso {
    justify-content: center;
    margin-top: -50px;
  }
  .nome_universidade {
    justify-content: center;
  }
  .ano_conclusao {
    justify-content: center;
    margin-bottom: 30px;
  }
  .minha_formacao_container .foto_formacao > img {
    width: 100%;
  }
  .titulo_bootcamp > h3 {
    font-size: 21px;
  }
  .data_bootcamp > h3 {
    font-size: 21px;
  }
  .bootcamp_img > img {
    width: 100%;
    overflow:hidden;
    box-shadow: 6px 6px 4px black;
    border-radius: 8px;
  }
  .minhas_experiencias_container {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .card_experiencia {
    max-width: 300px;
    width: 100%;
    border-radius: 10px;
  }
  .titulo-projeto > h4 {
    font-size: 17px;
    font-weight: bold;
  }
  .projetos_container {
    border-radius: 8px;
    box-shadow: 6px 6px 4px black;
  }
  .projeto img {
    border-radius: 8px;
  }
  .container {
    justify-content: center;
    flex-direction: column;
    gap: 0.5px;
  }
  .container_titulo_skills {
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .container_skills {
    margin: 5px;
  }
  #react {
    font-size: 21px;
  }
  .container_form {
    width: 80%;
  }
  .fa {
    font-size: 22px;
  }
  .form-group > input {
    height: 22px;
  }
  .form-group > label {
    font-size: 19px;
  }
  .btn-primary {
    font-size: 19px;
    padding: 1px 17px;
    border-radius: 5px;
  }
}

